.header {
    background-color: black;
    height: 50px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1000;
}

.footer {
    background-color: black;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    margin-top: 70px;
    margin-bottom: 20px;
}

.car-image {
    width: 100%;
}

.car-component {
}

.car-component:hover {
    border: 1px solid black;
    border-radius: 5px;
}

.wrapper {
}

.car-filter {
    position: absolute;
    top: 10px;
}
